/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 */

 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

nav .nav-wrapper {
  width: 90vw;
  margin-left: 5vw; 
}

p {
  line-height: 2rem;
  font-size: 1.25em;
}

h3 {
  text-align: center;
  color: #FFA39A;
}

.container{
  font-family: Josefin Sans;
}

#logo-header {
  max-width: 20vw;
}

.translucent {
  background-color: rgba(0,0,0,.4);
  border-radius: 10px;
  margin: 5%;
}

#callout {
  background-color: rgba(255,255,255,.8);
  margin: 10%;
  padding: 2%;
  border-radius: 10px;
}

.parallax-container {
  font-family: Josefin Sans;
  min-height: 30vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}

.parallax-container .header {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

.photo-grid img{
  height: 350px;
}

.asterisk {
  color:#FA8072;
}

.asterisk:hover {
    color: black;
}

#disclaimer{
  color:#FA8072;
  font-size: 20px;
}

.intro{
  color:black;
  border-radius: 8px;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
}

#schedule {
  max-width: 100%;
}

.schedule p {
  color: #000;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.schedule p:hover {
  color: #FA8072;
  font-size: 1.5em;
}


.container .collapsible-header{
  font-size: 20px;
  color:#FA8072;
  background-color: black;
}


.container .collapsible-body{
  background-color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer .page-footer{
  color:green;
}
