/*
 * FemmeHacks 2016 theme
 * Designed by Amelia Goodman and Anvita Achar.
 * Made with luv and Bootstrap
 * Theme color: #FA8072;
 */


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

body {
	background-color: #FA8072;
	color: white;
	font-family: 'Josefin Sans', sans-serif, "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* FRONT PAGE */
#menu a {
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: black;
}

.home-logo {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-bg {
    background-color:rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#header {
    display: table;
    position: relative;
    height: 100vh;
    background: url(../img/philly.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.info-box {
    padding: 70px;
    border-radius: 20px;
    margin-top: 10%;
    text-align: center;
}

.disclaimer-star {
    color:#FA8072;
    cursor: pointer;
}

.disclaimer{
  color:#FA8072;
  display: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}


.titleText{
    text-align: center;
}

#description {
    text-align: center;
}

#menu {
    height: 100%;
    vertical-align: middle;
}

#text {
    margin-top: 35%;
}

@media screen and (max-width: 680px) {
    .header-bg {
        display:none;
    }
    #header {
        height:0;
    }
    #text {
        margin-top: 0;
    }
    #menu {
        background: linear-gradient(
                rgba(0, 0, 0, 0.45),
                rgba(0, 0, 0, 0.45)
            ), url(../img/philly.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

/* INDEX NAV */
.main-nav {
    padding-top: 20px;
    list-style-type: none;
}

.main-nav li {
    font-size: 24px;
}

/* NAV BAR */
.navbar{
    background-color: #FA8072;
    border-color: #FA8072;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #FABFB9;
    border-radius: 10px;
}

.navbar-brand,
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-brand,
.navbar .navbar-collapse {
  text-align: center;
}

/* SCHEDULE */
#sched-list-el {
    background-color: black;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    transition: all .35s ease-in-out;
    color: #FA8072;
}

#sched-list-el:hover {
    transform: scale(1.1);
    color: #FA8072;
    background: -webkit-linear-gradient(left, #2E3130, #A7AFA1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2E3130, #A7AFA1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #2E3130, #A7AFA1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #2E3130, #A7AFA1); /* Standard syntax */
}

#sched {
    color: white;
}

#sched-list-el a {
    color: #FA8072;
    text-decoration: underline;
}

/* SPONSORS */
.terra>.row {
    padding-top:40px;
}
.terra img {
    transform: scale(.8);
    max-width: 100%;
    max-height: 200px;
    transition: all .35s ease-in-out;
}

.terra img:hover {
    transform: scale(.95);
}

.giga img {
    transform: scale(.6);
    transition: all .35s ease-in-out;
}

.giga img:hover {
    transform: scale(.75);
}

.kilo img {
    transform: scale(.5);
    max-width: 100%;
    max-height: 100px;
    transition: all .35s ease-in-out;
}

.kilo img:hover {
    transform: scale(.6);
}

.other img {
    transform: scale(.4);
    transition: all .35s ease-in-out;
}

.other img:hover {
    transform: scale(.45);
}

.sponsor-images table tr,td {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 1%;
}

/* FAQ */
#faq .panel-body{
    color: black;
    font-size: 1.2em;
}


/* MEET THE TEAM */
.caption {
    font-size: 1.3em;
}

.photo-grid {
    margin: auto;
    text-align: center;
}

.photo-grid li {
    display: inline-block;
    margin: 1em;
    width: 300px;
}

.photo-grid img {
    display: block;
    height: auto;
    max-width: 100%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
}

.photo-grid figure {
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 150px;
    display: inline-block;
}


.photo-grid figcaption {
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 60%;
    position: absolute;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
    z-index: 100;
    border-radius: 50%;
    margin-top: 13%;
    opacity: 0;
    top: 5px;
}

.photo-grid li:hover figcaption {
    opacity: 1;
}

.photo-grid figcaption h2 {
    display: table-cell;
    font-size: 1em;
    position: relative;
    top: -30px;
    width: 289px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

/* vertically center hover text*/
.photo-grid li:hover figcaption h2 {
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

